<link rel="stylesheet" href="CSS/css_1.css">
<link rel="stylesheet" href="CSS/detail.css">
<link rel="stylesheet" href="CSS/products.css">
<div class="container" ng-controller="detailController">
    <div class="heading-section">
    </div>
<div class="row">
            <div class="image_cover col-lg-6 ">
           
                <div class="item main_image" style="background-image: url(Image/{{showImg}});">
                
                </div>
                
        
            <div id="thumb" class="owl-carousel product-thumb slice_image">
                <div class="item" >
                    <img  ng-click="showImage($event)" title="{{selectProduct.img}}"  src="Image/{{selectProduct.img}}" />
              </div>
              <div class="item" >
                    <img  ng-click="showImage($event)" title="{{selectProduct.img1}}" src="Image/{{selectProduct.img1}}" />
              </div>
              <div class="item" >
                    <img  ng-click="showImage($event)" title="{{selectProduct.img2}}" src="Image/{{selectProduct.img2}}" />
              </div>
              <div class="item" >
                    <img  ng-click="showImage($event)" title="{{selectProduct.img3}}" src="Image/{{selectProduct.img3}}" />
              </div>
              <div class="item" class>
                    <img  ng-click="showImage($event)" title="{{selectProduct.img4}}" src="Image/{{selectProduct.img4}}" />
              </div>
                
            </div>
        </div>
      

        
        <div class="col-md-6">
            <div class="detail">
                <table>
                    <tr>
                        <div class="product-name">{{selectProduct.name}}</div>
                    </tr>
                    <tr>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                    </tr>
                    <tr><br>
                        <div class="price">
                            <div class="price-after">{{selectProduct.price1}}</div>
                            <div class="price-before">{{selectProduct.price}}</div>
                            <div class="price-discount">{{selectProduct.sale}}</div>
                    </tr><br>
                    <tr>
                        <div>Option:  <button type="button" class="btn">100gr</button> <button type="button" class="btn">200gr</button> <button type="button" class="btn">500gr</button></div>
                    </tr><br>
                    <div class="product-count">
                        <label for="size">Quantity:<!--<form action="#" class="display-flex">-->
                             <input class="quantity" id="id_form-0-quantity" min="0" name="form-0-quantity" value="1" type="number" color="blue">
                    <!--</form-->
                        </label>
                        <br><br>
                        <!-- <a href="#" class="round-black-btn">Add to Cart</a>
                        <a href="#" class="round-pink-btn">Buy now</a> -->
                    </div><br>
                    <button class="add">Add to cart</button>
                    <button class="buy">BUY NOW</button>
                </table>
            </div>
        </div>
    </div>
    <div class="nudetail">
        <button class="det" ng-click="btn5()">Description</button>
        <button class="det" ng-click="btn6()">Nutrition Facts</button>
        <button class="det"ng-click="btn7()">Reviews</button>
    </div>
        <div id="myDropdown" class="dropdown-content" ng-hide="myShow">
            <p>
                {{selectProduct.description}}
            </p>
        </div>
        <div id="myDropdown" class="dropdown-content" ng-hide="myNu">
            <img src="Image/{{selectProduct.Nutritionalinformation}}" alt="">
        </div>
        <div id="myDropdown" class="dropdown-content" ng-hide="myreview">
            <h6>Guest 1</h6>
            <div class="rating2 border-0 bg-light mb-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <p>
                {{selectProduct.review}}
            </p>
            <h3>Write a review</h3>
            <table>
                <tr>
                    <td>
                        <div class="form-outline mb-4">
                            <div class="form-label" > <span style="color: red;">*</span> <label for="name">Your Name</label></div>
                            <input type="text" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-outline mb-4">
                            <div class="form-label" > <span style="color: red;">*</span> <label for="name">Your Review</label></div>
                            <input class="re" type="text" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="color: red;">*</span>Rating
                        <div class="rating2 border-0 bg-light mb-2">
                            
								<form action="">
								  <input class="star star-5" id="star-5" type="radio" name="star"/>
								  <label class="star star-5" for="star-5"></label>
								  <input class="star star-4" id="star-4" type="radio" name="star"/>
								  <label class="star star-4" for="star-4"></label>
								  <input class="star star-3" id="star-3" type="radio" name="star"/>
								  <label class="star star-3" for="star-3"></label>
								  <input class="star star-2" id="star-2" type="radio" name="star"/>
								  <label class="star star-2" for="star-2"></label>
								  <input class="star star-1" id="star-1" type="radio" name="star"/>
								  <label class="star star-1" for="star-1"></label>
								</form>
							
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <button class="sub" type="submit">Submit</button>
                    </th>
                </tr>
            </table>
            
        </div>
</div>
</div>
